* {
    padding: 0px;
    margin: 0px;
    color-scheme: dark;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3rem;
    background-color: rgb(104, 104, 104);
    width: 100%;
    
}

header, main, footer { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    background-color: rgb(45, 45, 45);
    width: 100%;
    position: fixed;
    height: 5rem;
    z-index: 1000;
    font-size: 16pt;
}   
.menu{
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 20px;
    height: 100%;
    padding-right: 20px;
}
a{
    
    text-decoration: none;
    color: aliceblue;
}
.menu>a,.logo>a{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 20px;
}
a:hover{
    background-color: rgb(74, 74, 74);
}

.logo{ 
    font-size: 20px;
    padding-left:30px ;
}

footer{
    background-color: rgb(45, 45, 45);
}
.row{ 
    display: flex;
    flex-direction: row;
    /* height: calc(100vh - 5rem); */
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.row2>div, .row3>div{
    width: 50%; 
}
.row3{

    background-color: rgb(190, 190, 190);
    color: black;
}
.desc{
    margin-left: 10px;
    margin-right: 100px;
}
.desc2{
    margin-right: 10px;
    margin-left: 100px;
    
}
#myBoard,#myBoard2{
    margin: auto; 
}
main{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 5rem;
}
.background{
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(94, 94, 94);
    background-image: url("../img/photo-1654457066813-234e82a5e3e0.jfif"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply ;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mensagem{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}
.mensagem>a{
    margin-top: 20px;
    background-color: rgb(212, 212, 0);
    border-radius: 100px;
    color: black;
    padding: 20px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 14pt;
}
.mensagem>a:hover{
    margin-top: 20px;
    background-color: rgba(212, 212, 0, 0.644);
    border-radius: 100px;
    color: black;
    padding: 20px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 14pt;
}
.row4{
    min-height: 100vh;
    height: auto;
}
 