.desc{
    background-color: rgb(70, 70, 70); 
    height: 80%;
    border-radius: 50px;
}
.row{
    height: 100%;
}
.desc>.box{ 
display: flex;
flex-flow: column nowrap; 
height: 100%;
width: 100%; 
    position: relative;
}
.box>div{
    
}
.box>.vez{
    width: 100%;
    height: 20%;
    background-color: antiquewhite; 
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    justify-content:center ;
    align-items: center;
    color:black;
}
.descricao{
    height: 20%;
    margin: 20px; 
}
.coordenada{
    height: 20%;
    margin: 20px; 
}
.variantes{
    margin-left: 20px;
    height: 20%;
}
.variantes>button {
    margin: 20px 20px 20px 0px;
    padding: 8px 20px ;
}
#opcoes>button{ 
    position: absolute;
    right: 20px;
    padding: 5px;
}
#opcoes{

    min-height: 4%; 
    right: 10px;
    margin-bottom: 40px; 
}
/* .variantes>h3{
    margin-bottom: 10px;
} */
canvas{
    max-width:500px ;
    max-height: 400px;
    min-width: 300px;
    min-height: 300px;
    
}
.titulo{
    position:absolute;
    top: 100px;
}
.dash{ 
display: flex;
align-items: center;
flex-direction: column;
margin: 5px 50px 50px 50px;
}
 