<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/abertura.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/chessboard-1.0.0.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
      crossorigin="anonymous"></script>
    <script src="../js/chessboard-1.0.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"></script>
</head>

<body>

    <header>
        <div class="logo"><a href="index.html"><h1>Open-Chess</h1></a></div>
        <div class="menu">
            <a href="abertura.html">Aberturas</a>
            <a href="#">Flashcard</a>
            <a href="#">Dashboard</a>
            <a href="#">Login/Cadastro</a>
        </div>
    </header>

    <main>
        
        <div class="row background"> 
            <div class="mensagem">
                <h1>Bem vindo ao Open-Chess!</h1>
                <p>uma ferramenta para te auxiliar no início dos jogos</p>
                <a href="#section">Conhecer o Projeto</a>
            </div>
        </div>
        <div class="row row2" id="section">
            <div class="table">
                <div id="myBoard2" style="width: 400px"></div>
                
            </div>
            <div class="desc">
                <h1>O que é Open-Chess?</h1>
                <br>
                <p>
                    Open-Chess é uma plataforma interativa criada para ajudar jogadores de xadrez (iniciantes e intermediários) a aprofundarem seu conhecimento sobre as aberturas do jogo. Através de um sistema visual e intuitivo. 
                </p>
                <br>
                <p>
                    Open-Chess permite explorar cada variante de uma abertura com clareza, destacando movimentos, ideias principais e posições comuns de forma organizada. Além disso traz consigo explicação teórica e uso de flashcard baseada em suas estastisticas individuais.
                </p>
                <br> 
            </div>
        </div>

        <div class="row row3" id="section">
            <div class="desc2">
                <h1>Open-Chess funcionalidades:</h1>
                <br>
                <p>
                    ✅ Teoria sobre a abertura
                </p>
                <br>
                <p>
                    ✅ Aprofundamento nas variantes
                </p>
                <br> 
                <p>
                    ✅ Revisões por meio de flashcards
                </p>
                <br> 
                <p>
                    ✅ Estastísticas pessoais
                </p>
                <br> 
            </div>
            
            <div class="table">
                <div id="myBoard" style="width: 400px"></div>
                
            </div>
        </div>

        
        <div class="row row4">
            <div class="abet">

                <h1 class="titulo">Aberturas:</h1>
                
                
                <div class="listaaberturas" id="resultado"> 
                    
                </div>
                
            </div>
        </div>
 
        
    </main>

    <footer>
        <span>Lucas Hideo Kawakami</span>
    </footer>

    
    <script src="../js/chessindex.js"></script> 
    <script src="../js/chessabertura.js"></script>
</body>

</html>